.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.message {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}