@import "src/consts/sizes";

.text {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    transition: .5s;

    @media screen and (max-width: $m_800) {
        font-size: 40px;
        line-height: 45px;
    }

    @media screen and (max-width: $m_550) {
        font-size: 36px;
        line-height: 44px;
    }

    .gradient {
        font-weight: 900;
    }
}