@import "src/consts/dark-theme-colors";
@import "src/consts/sizes";

.container {
    .title {
        font-weight: 700;
        font-size: 14px;
        color: $gray;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .columns {
        display: flex;
    }
}